# terraform files
.terraform/
*.tfstate
*.tfstate.*
*.hcl

# python files
__pycache__/

# temp
.github/

# virtual environments
venv/

# scrap local
scraped/
tests/

# airflow
airflow/logs/
airflow/plugins/